@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@100&display=swap');

/* DEAFULTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 10px;
}

.container {
    display: grid;
    grid-template-columns: 15% 85%;
}

section {
    background-color: #fff;
    margin: 35px;
    box-shadow: 0px 8px 24px -2px rgba(3, 40, 75, 0.1);
}

.wrap {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: transparent;
    box-shadow: none;
}

li {

    list-style-type: none;
}

/* NAV SECTION */

nav {
    height: 100%;
    background-color: #001529;
}

.logo {
    margin: 25px;
}

nav ul {
    padding-left: 15px;
}

nav li button {
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #999;
    font-size: 1.4rem;
    text-align: left;
}

nav li:first-of-type button {
    color: white;
    font-weight: 600;
}

/* MENU */

menu {
    margin: 0;
    background-color: #fff;
}

menu li {
    margin: 10px;
    font-size: 1.2rem;
}

/* MAIN SECTION */

main {
    background-color: #eee;
    padding: 20px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
    border: 1px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 95%;
}

menu,
header ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 20px;
    list-style-type: none;
    text-align: right;
}

header ul {
    margin: 0;
}

header li:nth-child(2) {
    margin-right: 20px;
}


header h2 {
    font-weight: 600;
    font-size: 2.4rem;
    color: #262626;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header input {
    margin-top: 3%;
    padding: 5px 12px;
    background: #FFFFFF;
    border: 1px solid #1890FF;
    box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
    border-radius: 2px;
    font-size: 1.4rem;
}

header li button {
    display: block;
    width: 100%;
    padding: 9px 20px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 0px 2px 2px 0px;
    font-style: bold;
    font-size: 1.4rem;
}

.active {
    background-color: #003FC9;
    color: white;
}

/* SECTION BALANCE */

.balance {
    padding: 30px;
}

.balanceSheet {
    display: flex;
    align-items: center;
}

.balanceSheet p {
    margin-left: 25px;
    font-size: 2rem;
}

.balanceSheet p strong {
    font-weight: 600;
    font-size: 2.4rem;
}

.balance ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}

.balance ul li {
    font-size: 1.4rem;
    color: #8C8C8C;
}

.balance ul li strong {
    font-size: 2.4rem;
    color: #262626;
}

.balance ul li span {
    font-size: 2rem;
    color: green;
}

.balance ul li:nth-child(2) span {
    color: red;
}

.balance ul li:nth-child(3) span {
    color: grey;
}

/* INFO */

.info {
    position: relative;
    height: 140px;
    margin: 2% 0 2% 5%;
}

.info h3 {
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 10px 15px 5px 20px;
    font-size: 1.4rem;
    color: #262626;
}

.info a {
    position: absolute;
    top: 12px;
    right: 25px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #1890FF;
}

.info img:not(a>img) {
    position: absolute;
    left: 25px;
    bottom: 20px;
}

.info p {
    position: absolute;
    left: 100px;
    bottom: 25px;
    font-size: 2.4rem;
    color: #262626;
}

/* STATE */

.state {
    display: grid;
    grid-template-columns: 30% 35% 30%;
    align-items: center;
    margin: 35px;
    width: 50%;
}

.state h2 {
    font-size: 2rem;
}

.state p {
    font-size: 1.4rem;
    color: #595959;
}

.state a {
    font-size: 1.4rem;
}

/* DEVICES */

.device {
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30% 30% 30%;
    width: 70%;
}

.device h3 {
    width: 70%;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    padding-bottom: 45px;
    font-size: 1.6rem;
}

.device a {
    line-height: 46px;
    font-size: 1.4rem;
}

.device table {
    margin: 10px 0 25px;
    padding: 10px 15px;
    text-align: left;
}

.device th {
    font-size: 2.4rem;
    color: #000000;
}

.device td {
    font-size: 1.4rem;
    color: #8C8C8C;
}

.device img {
    position: absolute;
    left: 25px;
    bottom: 10px;
}

.device p {
    position: absolute;
    bottom: 10px;
    left: 55px;
    font-size: 1.2rem;
    color: #8C8C8C;
}


/* LAST SECTION WITH WAREHOUSES */

.device+section {
    grid-template-columns: 50% 50%;
    width: 50%;
}

.device+section section {
    position: relative;
    margin: 0;
    margin-right: 35px;
    min-width: 300px;
}

.device+section section:nth-child(2) {
    opacity: 0.2;
}

.top,
.bottom {
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.top h3,
.top a {
    font-size: 1.4rem;
}

.bottom {
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 25px 20px 60px;
}

.text p {
    font-size: 1.4rem;
    color: #8C8C8C;

}

.text p:nth-child(2) {
    font-size: 2.4rem;
    color: #262626;
}

/* BOTTOM SECTION */

.widgetsInfo h2 {
    font-size: 2rem;
}

.widgetsInfo p {
    margin-top: 10px;
    color: #595959;
    font-size: 1.4rem;
}

.widgetsInfo,
.bottomComponent {
    background-color: transparent;
    box-shadow: none;
}

.bottomComponent {
    display: grid;
    grid-template-columns: 65% 35%;
}

.firstWidget,
.secondWidget {
    position: relative;
    display: grid;
    border-radius: 10px;
}

.firstWidget {
    grid-template-columns: 29% 42% 29%;
    margin-left: 0;
}

.firstWidget div:not(.flex) {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.firstWidget>img {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.environment {
    background-color: #EDF5FD;
}

.production {
    position: relative;
    background-color: rgba(107, 184, 72, 0.06);
}

.production li {
    margin-left: 10px;
    margin-top: 10px;
}

.production img {
    position: absolute;
    right: 5px;
    bottom: 15px;
}

div .mainText {
    color: #262626;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.01em;

}

div .desc {
    padding-top: 10px;
}

.firstWidget .text .desc,
.secondWidget div,
.firstWidget li,
.flex p,
.production ul li p,
.environment ul li p {
    color: #595959;
    font-size: 1.2rem;
}

.firstWidget li strong,
.secondWidget li strong {
    font-weight: 600;
    font-size: 1.6rem;
    color: #262626;
}

.flex {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 10px;
}

.flex img,
.flex p {
    padding-left: 10px;
}

.secondWidget {
    grid-template-columns: 50% 50%;
    margin: 35px 0;
}

.secondWidget div {
    padding: 10px;
    border-radius: 15px;
}

.secondWidget .production {
    margin: 10px;
}

.left>img {
    position: absolute;
    left: 25px;
    bottom: 10px;
}

.bottomComponent button {
    position: absolute;
    top: 110%;
    right: 0;
    padding: 1px 8px;
    border: none;
    border-radius: 2px;
    background: #003FC9;
    color: #fff;
    font-size: 1.4rem;
}

@media(max-width: 1300px) {
    * {
        font-size: 8px;
    }

    .info a {
        top: 6px;
        right: 8px;
    }

    .device+.wrap,
    .bottomComponent {
        display: flex;
        flex-flow: row wrap;
        width: 70%;
    }

    .device table td {
        padding-left: 10px;
    }
}

@media(max-width: 1050px) {
    * {
        font-size: 8px;
    }


    .container {
        display: block;
    }

    nav {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    header {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    header h2 {
        padding-bottom: 10px;
    }

    .info a,
    .flex img {
        display: none;
    }

    .flex {
        display: block;
    }

}

@media(max-width: 930px) {

    nav ul button img {
        display: none;
    }


    .production img {
        display: none;
    }
}

@media(max-width: 780px) {
    * {
        font-size: 6px;
    }

    nav>img {
        width: 50px;
    }

    header ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .wrap {
        display: flex;
        flex-flow: row wrap;
    }

    .info {
        width: 180px;
    }
}

@media(orientation: portrait) {

    nav ul {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
    }


    nav li button {
        padding: 5px;
        width: auto;
    }

    .device {
        width: 90%;
    }

    .bottomComponent img {
        width: 50px;
    }
}


@media(max-width: 450px) {
    section {
        margin-left: 5px;
    }

    .state {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        padding: 5px;
    }

    .device+section section {
        margin-right: 0;
        padding-top: 10px;
        min-width: 250px;
    }
}